body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {
  font-size: 15px;
}
p > a {
  color: #79558c; /* Purple */
}
p > a:hover {
  color: #79558c; /* Purple */
}
#brand-img {
  float: left;
}
#brand-name {
  font: 36px Montserrat, sans-serif;
  font-weight: bold;
  float: right;
  padding-left: 20px;
  line-height: 0px;
  color: #79558c; /* Purple */
}
.margin {
  margin-bottom: 15px;
}
.bg-1 {
  background-color: #79558c; /* Purple */
  color: #ffffff;
}
.bg-2 {
  background-color: #cbcfd1; /* Light Grey */
  color: #747e82; /* Grey */
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.center {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  margin:0 auto;
}
.col-sm-4 {
  padding-bottom: 35px;
}
.col-sm-4 > a {
  background-color: #cbcfd1; /* Light Grey */
  color: #79558c; /* Purple */
  border-bottom: #79558c; /* Purple */
}
.col-sm-4 > a > h3 {
  font-weight: bold;
  background-color: #cbcfd1; /* Light Grey */
  color: #79558c; /* Purple */
  border-bottom: #79558c; /* Purple */
}
.col-sm-4 > h4 {
  font-weight: bold;
  background-color: #cbcfd1; /* Light Grey */
  color: #747e82; /* Grey */
}
.col-sm-4 > p {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
}
.navbar-collapse.in > ul {
  padding-left: calc(50% - 60px);
  padding-right: calc(50% - 60px);
  text-align: center;
  justify-content: center;
}
.navbar-collapse.collapsing > ul {
  padding-left: calc(50% - 60px);
  padding-right: calc(50% - 60px);
  text-align: center;
  justify-content: center;
}
.navbar-brand {
  padding-top: 5px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
}
.nav-pills > li > a {
  color: #79558c; /* Purple */
  background-color: #fff; /* White */

  transition: color 0.4s ease 0s;
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.nav-pills > li > a:hover {
  color: #d3cbd7; /* Light Purple */
  background-color: #fff; /* White */
}
.nav-pills > li.active > a {
  color: #d3cbd7; /* Light Purple */
  background-color: #fff; /* White */
}
.nav-pills > li.active > a:hover {
  color: #d3cbd7; /* Light Purple */
  background-color: #fff; /* White */
}
/* Make brandname smaller */
@media (max-width: 430px) {
  #brand-name {
    font-size: 28px;
  }
}
/* Make brandname smaller */
@media (max-width: 375px) {
  #brand-name {
    font-size: 22px;
  }
}
/* Make brandname go away */
@media (max-width: 330px) {
  #brand-name {
    display: none;
  }
}
.bg-3 > a > img {
  padding-right: 0px;
  padding-left: 0px;
  width: 20px;
  height: 20px;
}
.about-text {
  padding-top: 50px;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 22px;
}
.about-text > .about-introduction {
  color: #79558c; /* Purple */
  font-weight: bold;
}
#footer > .container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-title {
  padding-top: 15px;
  padding-bottom: 15px;
}
.responsive-image {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}
#footer > .container-fluid > a {
  text-decoration: none;
}
.resume-viewer-container {
  padding-bottom: 100%;
  width: 100%;
  position: relative;
}
#resume-viewer {
  position: absolute;
  width: 70%;
  top: 8%;
  left: 15%;
  right: 15%;
  height: 80%;
}
#countingcards-video {
  width: 70%;
}
